#spring.jpa.hibernate.ddl-auto=none
#spring.datasource.url=jdbc:mysql://192.168.1.3:3306/tododb
#spring.datasource.username:root
#spring.datasource.password:root
#spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
#spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQL8Dialect
#server.port=8080

spring:
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/to_do_list
   # url: jdbc:mysql://192.168.1.3:3306/tododb
   # url: jdbc:mysql://192.168.1.10:3306/tododb


    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  properties:
    hibernate:
      dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: localhost
    port: 2525
    username: hello
    password: hello

    properties:
      mail:
        smtp:
          ssl:
            trust: "*"
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000


server:
  port: 8080





application:
  security:
    jwt:
      secret-key: GhzUBdHjLZggyiOgo0WjgXc+ppTLf9byKLXW8J5VmOJHD2pXjHIXDyVBJprkSETO
      #expiration:  86400000 # day
      expiration: 300000  # 5 minutes in milliseconds
      refresh-token:
        expiration: 604800000 # 7 days