 .table-columns-text{
  font-size: 19px;
 }

  .project-list > tbody > tr > td {
    padding: 12px 8px;

  }
  .my-custom-td{
    text-align: center;

  }
  
  .project-list > tbody > tr > td .avatar {
    width: 22px;
    border: 1px solid #CCC;
    
  }
