$bgColor: rgb(186,104,200);
$textHoverColor: rgb(255, 255, 255);
$debug: false;



.button {
	display: inline-block;
	position: relative;
	z-index: 1;
	overflow: if($debug, unset, hidden);
	
	text-decoration: none;
	
	font-family: sans-serif;
	font-weight: 600;
	font-size: 1.2em;
	
	padding: 0.75em 1em;
	
	color: $bgColor;
	
	border: 0.15em solid $bgColor;
	border-radius: calc(0.75em + 0.5em + 0.15em);
	
	transition: 4s;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: -1.5em;
		
		z-index: -1;
		
		width: 200%;
		aspect-ratio: 1;
		
		border: if($debug, inherit, none);
		border-radius: 40%;
		
		background-color: rgba($bgColor, 0.25);
		
		transition: 4s;
	}
	
	&:before {
		left: -80%;
		transform: translate3d(0, 5em, 0) rotate(-340deg);
	}
	
	&:after {
		right: -80%;
		transform: translate3d(0, 5em, 0) rotate(390deg);
	}
	
	&:hover,
	&:focus {
		color: $textHoverColor;
		
		&:before,
		&:after {
			transform: none;
			background-color: rgba($bgColor, 0.75);
		}
	}
}

